// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.linkwrapper {
  position: relative;
  text-decoration: none;
  display: block;
  background-color: transparent;
}

.designwrapper {
  width: 100%;
  //   height: 640px;
  border-radius: 15px;
  //   background-image: url('/home/desktop/image-web-design-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  filter: brightness(50%);
}

.floatingwords {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //   height: 640px;
  color: var(--white);
  background-color: transparent;
  border-radius: 15px;

  display: grid;
  place-content: center;
  justify-items: center;
  gap: 24px;

  &:hover,
  &:focus {
    background-color: var(--peach-hover);
  }

  @media (max-width: $mobile-and-below) {
    gap: 12px;
  }
}

.floatingwords h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: $mobile-and-below) {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;
  }
}

.floatingwords p {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.floatingwords div {
  display: flex;
  align-items: center;
  gap: 21px;

  @media (max-width: $mobile-and-below) {
    gap: 16px;
  }
}
