// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  height: 252px;
  width: 100%;

  background-color: var(--peach);
  border-radius: 15px;

  display: grid;
  place-content: center;
  gap: 24px;

  color: var(--white);

  background-image: url('/web-design/desktop/bg-pattern-intro-web.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;

  @media (max-width: $mobile-and-below) {
    height: 319px;
    margin-left: -24px;
    margin-right: -24px;
    width: revert;
    border-radius: revert;
    padding-left: 22px;
    padding-right: 22px;

    background-position: bottom 25px right -20px;
  }
}

.wrapper h1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  font-weight: 500;
  text-align: center;

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
  }
}

.wrapper p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  text-align: center;
  max-width: 390px;

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
  }
}
