// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  grid-area: main;
  position: relative;

  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 380px;

  display: flex;
  flex-direction: column;
  gap: 160px;

  background-color: var(--white);
  background-image: url('/shared/desktop/bg-pattern-leaf-upper.svg'),
    url('/shared/desktop/bg-pattern-leaf-lower.svg');
  background-repeat: no-repeat;
  background-position: top 320px left 0px, bottom 74px right 0px;

  @media (max-width: $tablet-and-below) {
    background-image: revert;
    background-repeat: revert;
    background-position: revert;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 330px;

    gap: 120px;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 310px;
  }
}

.herowrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 40px;

  color: var(--white);
  background-color: var(--peach);

  background-image: url('/home/desktop/bg-pattern-hero-home.svg'),
    url('/home/desktop/image-hero-phone.png');
  background-repeat: no-repeat;
  background-position: right, bottom -240px right -80px;

  height: 640px;
  border-radius: 15px;

  padding-left: 95px;
  padding-top: 145px;

  @media (max-width: $tablet-and-below) {
    align-items: center;

    gap: 20px;
    height: 843px;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 60px;

    background-position: right, bottom -350px right 50%;
  }

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;

    margin-left: -24px;
    margin-right: -24px;

    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;

    background-position: right, bottom -373px right 50%;
  }
}

.herowrapper h1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  font-weight: 500;
  max-width: 540px;

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
    max-width: 327px;
  }
}

.herowrapper p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  max-width: 445px;

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
    max-width: 327px;
  }
}

.whitebutton {
  background-color: var(--white);
  color: var(--dark-gray);
  width: 152px;
  height: 56px;
}

.designwrapper {
  display: grid;
  grid-template-areas:
    'web app'
    'web graphic';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 640px;
  gap: 24px 30px;

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'web'
      'app'
      'graphic';

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    height: 650px;
    gap: 25px;
  }

  @media (max-width: $mobile-and-below) {
    height: 800px;
  }
}

.weblink {
  grid-area: web;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.applink {
  grid-area: app;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.graphiclink {
  grid-area: graphic;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.webtablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: web;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.apptablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: app;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.graphictablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: graphic;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.webmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    grid-area: web;
  }
}

.appmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    grid-area: app;
  }
}

.graphicmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    grid-area: graphic;
  }
}

.valuewrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media (max-width: $tablet-and-below) {
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: $mobile-and-below) {
    gap: 80px;
  }
}

.valuewrapper > article:nth-of-type(1) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-left.svg');
}

.valuewrapper > article:nth-of-type(2) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-down.svg');
}

.valuewrapper > article:nth-of-type(3) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-up.svg');
}

.articlewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @media (max-width: $tablet-and-below) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-and-below) {
    flex-direction: column;
    justify-content: revert;
  }
}

.articlewrapper > div:first-of-type {
  background-repeat: no-repeat;
}

.articlewrapper > div:last-of-type {
  color: var(--dark-gray);
}

.articlewrapper > div:last-of-type h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 32px;

  @media (max-width: $tablet-and-below) {
    text-align: left;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-and-below) {
    text-align: center;
  }
}

.articlewrapper > div:last-of-type p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  text-align: center;

  @media (max-width: $tablet-and-below) {
    text-align: left;
    max-width: 440px;
  }

  @media (max-width: $mobile-and-below) {
    text-align: center;
    max-width: revert;
  }
}
