.wrapper {
  display: flex;
  flex-direction: column;
}

.displaypic {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wrapper div {
  display: grid;
  place-content: center;
  gap: 16px;
  background-color: hsl(14deg 76% 97%);

  padding: 32px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wrapper h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--peach);
  text-align: center;
  text-transform: uppercase;
}

.wrapper p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--dark-gray);
  text-align: center;
}
