// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-and-below) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (max-width: $mobile-and-below) {
    display: flex;
    grid-template-columns: revert;
    grid-template-rows: revert;
  }
}

.displaypic {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  @media (max-width: $tablet-and-below) {
    border-top-right-radius: revert;
    border-bottom-left-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    border-top-right-radius: 15px;
    border-bottom-left-radius: revert;
  }
}

.wrapper div {
  display: grid;
  place-content: center;
  gap: 16px;
  background-color: hsl(14deg 76% 97%);

  padding: 32px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &:hover {
    background-color: var(--peach);
    & > h3,
    & > p {
      color: var(--white);
    }
  }

  @media (max-width: $tablet-and-below) {
    border-bottom-left-radius: revert;
    border-top-right-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    border-bottom-left-radius: 15px;
    border-top-right-radius: revert;
  }
}

.wrapper h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--peach);
  text-align: center;
  text-transform: uppercase;
}

.wrapper p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--dark-gray);
  text-align: center;
}
