// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  position: absolute;
  top: -220px;
  left: 0px;
  right: 0px;
  width: calc(100% - 165px * 2);
  margin-left: auto;
  margin-right: auto;

  height: 292px;
  border-radius: 15px;

  padding-left: 96px;
  padding-right: 96px;

  background-color: var(--peach);
  background-image: url('/shared/desktop/bg-pattern-call-to-action.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-and-below) {
    top: -264px;

    width: calc(100% - 40px * 2);
    height: 350px;

    flex-direction: column;
    justify-content: center;
    gap: 32px;

    padding-left: 58px;
    padding-right: 58px;
  }
}

.wrapper > div {
  @media (max-width: $tablet-and-below) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.wrapper h2 {
  font-size: var(--font-size-heading-2);
  line-height: 40px;
  font-weight: 500;
  max-width: 268px;

  margin-bottom: 24px;

  @media (max-width: $tablet-and-below) {
    max-width: 335px;
    text-align: center;
  }
}

.wrapper p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  max-width: 459px;

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }
}

.button {
  background-color: var(--white);
  color: var(--dark-gray);
  width: 152px;
  height: 56px;
}
