// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 380px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: $tablet-and-below) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 384px;

    gap: 120px;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 310px;

    gap: 40px;
  }
}

.canada {
  display: grid;
  grid-template-areas: 'details map';
  grid-template-columns: 1fr 375px;
  gap: 30px;

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'map'
      'details';
    grid-template-columns: 1fr;
    grid-template-rows: 326px 1fr;
  }

  @media (max-width: $mobile-and-below) {
    grid-template-rows: 320px 395px;
    gap: 0px;
  }
}

.canadadetails {
  grid-area: details;

  background-color: hsl(14deg 76% 97%);
  background-image: url('/locations/desktop/bg-pattern-map.svg');
  background-repeat: no-repeat;
  background-position: cover;
  background-position: bottom 0px left 0px;

  padding-left: 95px;
  padding-top: 88px;
  padding-bottom: 88px;

  border-radius: 15px;

  display: grid;
  grid-template-areas:
    'name name'
    'address contact';
  gap: 24px 30px;

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    background-image: url('/locations/mobile/bg-pattern-map.svg');
    background-position: bottom 0px right 0px;
    padding-top: 80px;
    padding-left: 0px;

    grid-template-areas:
      'name'
      'address'
      'contact';

    gap: 24px;
  }
}

.canadadetails h2 {
  grid-area: name;
  color: var(--peach);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}

.canadadetails > div:first-of-type {
  grid-area: address;
}

.canadadetails > div:last-of-type {
  grid-area: contact;
}

.canadadetails p {
  color: var(--dark-gray);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.canadadetails > div > p:first-of-type {
  font-weight: 700;
}

.canadadetails > div > p:not(:first-of-type) {
  font-weight: 400;
}

.canadamap {
  grid-area: map;
  object-fit: cover;
  border-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    display: block;
    width: 100%;
  }
}

.canadamaptablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: map;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.australia {
  display: grid;
  grid-template-areas: 'map details';
  grid-template-columns: 375px 1fr;
  gap: 30px;

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'map'
      'details';
    grid-template-columns: 1fr;
    grid-template-rows: 326px 1fr;
  }

  @media (max-width: $mobile-and-below) {
    grid-template-rows: 320px 395px;
    gap: 0px;
  }
}

.australiamap {
  grid-area: map;
  object-fit: cover;
  border-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    display: block;
    width: 100%;
  }
}

.australiamaptablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: map;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.australiadetails {
  grid-area: details;

  background-color: hsl(14deg 76% 97%);
  background-image: url('/locations/desktop/bg-pattern-map.svg');
  background-position: cover;
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;

  padding-left: 95px;
  padding-top: 88px;
  padding-bottom: 88px;

  border-radius: 15px;

  display: grid;
  grid-template-areas:
    'name name'
    'address contact';
  gap: 24px 30px;

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    background-image: url('/locations/mobile/bg-pattern-map.svg');
    background-position: bottom 0px right 0px;
    padding-top: 80px;
    padding-left: 0px;

    grid-template-areas:
      'name'
      'address'
      'contact';

    gap: 24px;
  }
}

.australiadetails h2 {
  grid-area: name;
  color: var(--peach);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}

.australiadetails > div:first-of-type {
  grid-area: address;
}

.australiadetails > div:last-of-type {
  grid-area: contact;
}

.australiadetails p {
  color: var(--dark-gray);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.australiadetails > div > p:first-of-type {
  font-weight: 700;
}

.australiadetails > div > p:not(:first-of-type) {
  font-weight: 400;
}

.uk {
  display: grid;
  grid-template-areas: 'details map';
  grid-template-columns: 1fr 375px;
  gap: 30px;

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'map'
      'details';
    grid-template-columns: 1fr;
    grid-template-rows: 326px 1fr;
  }

  @media (max-width: $mobile-and-below) {
    grid-template-rows: 320px 395px;
    gap: 0px;
  }
}

.ukdetails {
  grid-area: details;

  background-color: hsl(14deg 76% 97%);
  background-image: url('/locations/desktop/bg-pattern-map.svg');
  background-repeat: no-repeat;
  background-position: cover;
  background-position: bottom 0px left 0px;

  padding-left: 95px;
  padding-top: 88px;
  padding-bottom: 88px;

  border-radius: 15px;

  display: grid;
  grid-template-areas:
    'name name'
    'address contact';
  gap: 24px 30px;

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    background-image: url('/locations/mobile/bg-pattern-map.svg');
    background-position: bottom 0px right 0px;
    padding-top: 80px;
    padding-left: 0px;

    grid-template-areas:
      'name'
      'address'
      'contact';

    gap: 24px;
  }
}

.ukdetails h2 {
  grid-area: name;
  color: var(--peach);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}

.ukdetails > div:first-of-type {
  grid-area: address;
}

.ukdetails > div:last-of-type {
  grid-area: contact;
}

.ukdetails p {
  color: var(--dark-gray);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.ukdetails > div > p:first-of-type {
  font-weight: 700;
}

.ukdetails > div > p:not(:first-of-type) {
  font-weight: 400;
}

.ukmap {
  grid-area: map;
  object-fit: cover;
  border-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }

  @media (max-width: $mobile-and-below) {
    border-radius: 0px;
    display: block;
    width: 100%;
  }
}

.ukmaptablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    grid-area: map;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}
