// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  grid-area: header;

  padding-left: 165px;
  padding-right: 165px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-and-below) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.navwrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  gap: 42px;
}

.navwrapper a {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--white);

  cursor: pointer;
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--dark-gray);
  }
}
