// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 380px;

  display: flex;
  flex-direction: column;
  gap: 160px;

  background-color: var(--white);
  background-image: url('/shared/desktop/bg-pattern-leaf-upper.svg'),
    url('/shared/desktop/bg-pattern-leaf-upper.svg');
  background-repeat: no-repeat;
  background-position: top 320px left 0px, bottom 768px right -396px;

  @media (max-width: $tablet-and-below) {
    background-image: revert;
    background-repeat: revert;
    background-position: revert;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 384px;

    gap: 120px;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 310px;

    gap: 0px;
  }
}

.aboutus {
  display: grid;
  grid-template-areas: 'words img';

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'img'
      'words';
  }
}

.aboutuswords {
  grid-area: words;
  padding-left: 95px;
  padding-right: 82px;
  color: var(--white);

  background-color: var(--peach);
  background-image: url('/about/desktop/bg-pattern-hero-about-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;

  display: grid;
  place-content: center;
  gap: 32px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  @media (max-width: $tablet-and-below) {
    padding: 64px 58px;

    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;

    background-position: bottom 100px left -120px;
  }

  @media (max-width: $mobile-and-below) {
    padding: 80px 24px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-image: url('/about/mobile/bg-pattern-hero-about-mobile.svg');
    background-position: top -135px right 0px;
  }
}

.aboutuswords h1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  font-weight: 500;

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
  }
}

.aboutuswords p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
  }
}

.aboutusimg {
  grid-area: img;
  object-fit: cover;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.aboutusimgtablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.aboutusimgmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;
  }
}

.talent {
  display: grid;
  grid-template-areas: 'img words';

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'img'
      'words';
  }
}

.talentimg {
  grid-area: img;
  object-fit: cover;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.talentimgtablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.talentimgmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;
  }
}

.talentwords {
  grid-area: words;

  padding-left: 95px;
  padding-right: 95px;

  display: grid;
  place-content: center;
  gap: 24px;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: hsl(14deg 76% 97%);
  background-image: url('/about/desktop/bg-pattern-world-class-talent.svg');
  background-repeat: no-repeat;
  background-position: bottom 0px left -146px;

  @media (max-width: $tablet-and-below) {
    padding: 68px 58px;

    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;

    background-position: bottom 45px right 10px;
  }

  @media (max-width: $mobile-and-below) {
    padding: 80px 24px;

    background-position: top 0px left 0px;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.talentwords h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;
  color: var(--peach);

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
  }
}

.talent p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--dark-gray);

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
  }
}

.countrywrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 75px;
  padding-right: 75px;

  @media (max-width: $tablet-and-below) {
    padding-left: revert;
    padding-right: revert;

    flex-direction: column;
    justify-content: revert;
    gap: 80px;
  }

  @media (max-width: $mobile-and-below) {
    padding-top: 120px;
    padding-bottom: 120px;

    gap: 48px;
  }
}

.articlewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.countrywrapper > article:nth-of-type(1) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-up.svg');
}

.countrywrapper > article:nth-of-type(2) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-left.svg');
}

.countrywrapper > article:nth-of-type(3) > div:first-of-type {
  background-image: url('/shared/desktop/bg-pattern-small-circle-down.svg');
}

.countrywrapper > article:nth-of-type(3) > div:last-of-type > button {
  margin-left: auto;
  margin-right: auto;
}

.articlewrapper > div:first-of-type {
  background-repeat: no-repeat;
}

.articlewrapper h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 32px;
}

.peachbutton {
  background-color: var(--peach);
  color: var(--white);
  width: 152px;
  height: 56px;
}

.realdeal {
  display: grid;
  grid-template-areas: 'words img';

  @media (max-width: $tablet-and-below) {
    grid-template-areas:
      'img'
      'words';
  }
}

.realdealwords {
  grid-area: words;

  padding-left: 95px;
  padding-right: 95px;

  display: grid;
  place-content: center;
  gap: 24px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  background-color: hsl(14deg 76% 97%);
  background-image: url('/about/desktop/bg-pattern-real-deal.svg');
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;

  @media (max-width: $tablet-and-below) {
    padding: 68px 58px;

    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;

    background-image: url('/about/desktop/bg-pattern-world-class-talent.svg');
    background-position: bottom 45px right 10px;
  }

  @media (max-width: $mobile-and-below) {
    padding: 80px 24px 104px 24px;

    background-position: top 0px left 0px;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.realdealwords h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: 500;
  color: var(--peach);

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 32px;
    line-height: 36px;
  }
}

.realdealwords p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--dark-gray);

  @media (max-width: $tablet-and-below) {
    text-align: center;
  }

  @media (max-width: $mobile-and-below) {
    font-size: 15px;
    line-height: 25px;
  }
}

.realdealimg {
  grid-area: img;

  object-fit: cover;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  @media (max-width: $tablet-and-below) {
    display: none;
  }
}

.realdealimgtablet {
  display: none;

  @media (max-width: $tablet-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.realdealimgmobile {
  display: none;

  @media (max-width: $mobile-and-below) {
    display: block;
    width: 100%;

    grid-area: img;
    object-fit: cover;
  }
}
